/* google font family cdn link  */
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Nerko+One&family=Raleway:wght@300;400&family=Roboto:ital,wght@0,500;1,300&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width:800px) {
  .body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  }
}

.body::-webkit-scrollbar{
width: 12px;
background-color: rgb(32, 55, 56);
}
.body::-webkit-scrollbar-thumb{
 border-radius: 12px;
 background-color: rgb(255 118 41);
}




